# ******************************************************************************
# *                                                                            *
# *                     The Polygen Documentation Project                      *
# *                                                                            *
# *                  https://github.com/tajmone/polygen-docs                   *
# *                                                                            *
# ******************************************************************************

## =========================
## Polygen Compiled Grammars
## =========================
*.grm.o

## ================
## Windows Binaries
## ================
*.exe

## =================
## Sass Cache Folder
## =================
.sass-cache

## ===============
## Tools Subfolder
## ===============

# Ignore everyghing:
docs-src/tools/*

# except:
!docs-src/tools/README.md
!docs-src/tools/download.bat
!docs-src/tools/cleanup.bat
