#############################################
#  The Polygen Documentation Project:       #
#  https://github.com/tajmone/polygen-docs  #
#############################################

* text=auto

*.exe   binary

## Repository Configurations
############################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf

## Polygen Grammars
###################
*.grm     text linguist-language=EBNF
*.grm.o   binary

## Highlight Assets
###################
[attr]Hihglight text linguist-language=Lua gitlab-language=Lua
*.lang    Hihglight
*.theme   Hihglight

## Shell scripts
################
*.bat   text eol=crlf
*.sh    text eol=lf

## Documentation
################
*.htm     text
*.html    text
*.md      text
LICENSE   text

## Pandoc Assets
################
*.pp         text
*.markdown   text

## Sass/CSS
###########
*.scss   text
*.css    ext eol=lf

# EOF #
