# ******************************************************************************
# *                                                                            *
# *                     The PolyGen Documentation Project                      *
# *                                                                            *
# *                  https://github.com/tajmone/polygen-docs                   *
# *                                                                            *
# ******************************************************************************

## =========================
## Polygen Compiled Grammars
## =========================
*.grm.o

## ================
## Windows Binaries
## ================
*.exe

