.mono,
.monobold {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.monobold {
	font-weight: bold;
}
.R {
	color: #CC0000; // Original document color
	// color: #ff0000; // My color variation choice
}
.B {
	color: #3333FF; // Original document color
}
.G {
	color: #37A693; // My color variation choice
	// color: #339999;  // Original document color
}
.X {
	// color: #996633; // Original document color
	color: #C28141;
}

